*{
    margin: 0;
    padding: 0;
    font-family: IBM Plex Mono;
}
html{
    background-color: #fef4f1;
}
body {
    height: 100vh;
}
.cols{
    text-align: center;
    padding: 2rem 2rem;
    position: relative;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

/* Left Block */
.frontpic{
    width: 50%;
    float: left;
}
.frontpic img{
    max-width: 500px;
    width: 100%;
    height: auto;
}

/* Right Block */
.form{
    width: 50%;
    float: left;
    position: absolute;
    top: 25%;
    left: 50%;
}
.fronttext{
    font-size:58px;
    margin: 0;
    margin-bottom: 25px;
    color: #444343;
}
.formelements{
    margin-top: 10px;
}
.formbubbles{
    background-color: #A7DEFC;
    border-radius: 20px;
    border-width: 1px;
    border-color: #82BEF9;
    margin-top: 5px;
    width: 500px;
    height: 40px;
    font-size: 24px;
    color: #fef4f1;
    padding-left: 10px;
}
.formbubbles:hover{
    box-shadow: 0.25ch 0.25ch #00000024;
}
.formbubbles:focus{
    box-shadow: 0.25ch 0.25ch #00000024;
}
.formelements button{
    background-color: #A7DEFC;
    border-color: #82BEF9;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 18px;
    color: #fef4f1;
    padding: 10px;
}
.formelements button:hover{
    box-shadow: 0.25ch 0.25ch #00000024;
}
.formelements button:focus{
    box-shadow: 0.25ch 0.25ch #00000024;
}
::placeholder{
    color: #fef4f1;
    padding-left: 10px; 
}
